.minha-nav ul li a, .minha-nav .brand-logo, .minha-nav .button-collapse{
	color: #999;
}
.meu-slider{
	margin-top: 15px;
}
.caption{
	text-shadow: 2px 2px 2px rgba(0,0,0,.7);
	/*bottom: 0!important;
	left: 0!important;
	width: 100%!important;
	top: 50%!important;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0 15% 0 15%;*/
}
.caption .btn{
	text-shadow: none;
}

@media only screen and (max-width: 600px){
	.caption{
		top: 5%!important;
		left: 5%!important;
		width: 90%!important;
	}
	.caption h3{
		font-size: 2rem;
	}
	.caption h5{
		font-size: 1.3rem;
	}
}

a.normal{
	text-transform:none !important;
	color: #666;
}
a.normal:hover{
	color: #999;
}