html, body{
	background-color: #f3f3f3;
}
@media only screen and (max-width : 992px) {
	.container {
		width: 100%; 
	}
}
@media only screen and (min-width : 993px) {
	.container {
		width: 95%; 
	}
}
#mapa{
    width: 100%;
		height: 200px;
    background-color: #333;
    position: relative;
}

img{
	max-width: 100%;
}
.minha-nav ul li a, .minha-nav .brand-logo, .minha-nav .button-collapse{
	color: #999;
}
nav{
	margin-bottom: 25px;
}

.caption{
	text-shadow: 2px 2px 2px rgba(0,0,0,.7);
	/*bottom: 0!important;
	left: 0!important;
	width: 100%!important;
	top: 50%!important;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0 15% 0 15%;*/
}
.caption .btn{
	text-shadow: none;
}
p.opiniao{
	font-style: italic;
	padding: 10px 0 10px 0;
	color: #666!important;
}
img.avatar{
	border-radius: 50%;
	border: 1px solid #f3f3f3;
	margin-top: 20px;
	max-width: 100%;
}

.limite{
	white-space: nowrap; 
	width: inherit; 
	overflow: hidden;
	text-overflow: ellipsis; 
}

@media only screen and (max-width: 600px){
	.caption{
		top: 5%!important;
		left: 5%!important;
		width: 90%!important;
	}
	.caption h3{
		font-size: 2rem;
	}
	.caption h5{
		font-size: 1.3rem;
	}
}

a.normal{
	text-transform:none !important;
	color: #666;
}
a.normal:hover{
	color: #999;
}